@import url('https://fonts.googleapis.com/css?family=Arvo:400i|Crete+Round:400i');
@import url('https://unpkg.com/bulma@0.7.1/css/bulma.css');

@import 'new';

.anim-area {
  flex-grow: 0;
}

.scroll-top {
  position: fixed;
  right: 1%;
  bottom: 1em;

  display: block;

  width: 12%;
  max-width: 3em;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.scroll-top-icon {
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
}

code {
  overflow-wrap: break-word;
}

.live-demo {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  * {
    -ms-touch-action: none;
    touch-action: none;
  }
}

#carbonads {
  position: relative;

  height: 104px;
  max-width: 360px;
  margin: 1em auto;
  border: solid 2px #493756;

  background-color: #493756;

  font-size: 0.9em;

  box-sizing: border-box;
}

.carbon-wrap {
  display: table-row;
  height: 100px;
}

.carbon-img {
  float: left;
  display: table-column;
}

.carbon-text {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 10px 16px;
  color: white !important;
}

.carbon-poweredby {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 4px;

  color: #fff;
}
